asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
docutils==0.20.1
executing==1.2.0
fastjsonschema==2.18.0
idna==3.4
ipython==8.12.2
jedi==0.19.0
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab_pygments==0.2.2
Kivy==2.2.1
Kivy-Garden==0.1.5
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mistune==3.0.1
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.13
platformdirs==3.10.0
prompt_toolkit==3.0.39
ptyprocess==0.7.0
pure_eval==0.2.2
Pygments==2.16.1
PyQt5>=5.15.11
PyQt5-Qt5>=5.15.2,<5.16
PyQt5-sip==12.15.0
python-dateutil==2.8.2
python-vlc==3.0.18122
pyzmq==25.1.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.9.2
six==1.16.0
soupsieve==2.4.1
stack-data==0.6.2
tinycss2==1.2.1
tornado==6.3.3
traitlets==5.9.0
urllib3==2.0.4
wcwidth==0.2.6
webencodings==0.5.1
yarg==0.1.9