Package: media-muse
Version: 1.0
Section: base
Priority: optional
Architecture: amd64
Depends: python3 (>= 3.9)
Maintainer: Olumide Awodeji awodejiolumidekolade@gmail.com
Description: Media Muse Application.
 An application that allows users to playback media files with a comprehensive set of controls and features.
 